<h1>Users</h1>
<p>Here is the list of users from the database</p>
<ul class="users">
  <li class="user">
    <div class="user_image">
    <p>Photo placeholder</p>
    </div>
    <div class="user_container">
      <div class="user_name">
      Name placeholder
      </div>
      <div class="user_posts_counter">
      <p>
      Number of Posts: posts_counter placeholder
      </p>
      </div>
    </div>
  </li>
</ul>
