<section class="p-users">
  <ul class="c-vertical-list">
    <% @users.each do |user| %>
      <li>
        <%= render "components/user_card", user: user %>
      </li>
    <% end %>
  </ul>
</section>