<h1>User#Name by username</h1>
<p>Here is the details of a user given its id</p>
<ul class="users">
  <li class="user">
    <div class="user_photo">Photo placeholder</div>
    <div class="user_container">
      <div class="user_name">Name placeholder</div>
      <div class="user_posts_counter">Number of Posts: posts_counter placeholder</div>
    </div>
  </li>
</ul>

<div class="user_bio">
  <h2>Bio</h2>
  <p>Bio details</p>
</div>

<ul class="post">
  <li class="posts">
    <div class="post_container">
      <div class="post_title">Title placeholder</div>
      <div class="post_text">Text placeholder</div>
      <div class="post_comments_counter">
     <p>Comments: Like: y</p>
      </div>

    </div>
  </li>
</ul>
