<section class="p-user-profile">
  <%= render "components/user_header", user: @user %>
  <div class="p-user-profile__content">
    <%= render "components/posts_list", posts: @posts, user_route: user_path(@user) %>
  </div>
</section>