<h1>Posts</h1>
<p>Here is a list of posts of a given user</p>
<ul class="users">
  <li class="user">
    <div class="user_photo">
    <p>img place holder</p>
    </div>
    <div class="user_container">
      <div class="user__name">
     <h6> Name placeholder </h6>
      </div>
      <div class="user__posts_counter">
      <p>
      Number of Posts: posts_counter placeholde
</p>
      </div>
    </div>
  </li>
</ul>


