<h1>Post # by user name</h1>

<div class="post">
  <div class="post_container">
    <div class="post_title">Post #1 by username</div>
    <div class="post_comment_like_counter">
    <p> comments:x  likes: y </p>
    </div>
  </div>
  <div class="post_par">Post paragraph</div>
  <ul class="post_comments">
    <li class="comment">comment1</li>
     <li class="comment">comment2</li>
  </ul>

</div>

