.c-comment-item {
  display: flex;
  margin-right: 2.6rem;

  &__img {
    @include roundElem(3.2rem);

    margin-right: 0.6rem;
  }

  &__content {
    min-width: 15rem;
  }

  &__box {
    background-color: var(--color-grey-150);
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1.8rem;
    padding: 0.8rem 1.2rem;
    margin-bottom: 0.3rem;
  }

  &__author {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2308;
    margin-bottom: 0.4rem;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3333;
  }

  &__date {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin-left: 1.2rem;
  }
}
