.c-profile-header {
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  &__top {
    height: 20rem;
    background-color: blue;
  }

  &__bottom {
    display: flex;
    padding: 0 1.6rem 1.6rem;
    // border-bottom: 1px solid var(--color-grey-300);
  }

  &__img {
    box-sizing: content-box;
    display: block;
    margin-top: -7.6rem;
    border: 0.5rem solid var(--color-white);
    margin-right: 1.6rem;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  &__name {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
  }

  &__posts {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-text-secondary);
  }
}
