.c-post-item {
  display: block;
  padding: 1.2rem 1.6rem;
  transition: all 0.3s ease-out 0s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--color-text-secondary);
  }
}
