// Import variables and mixins
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Import reset and base styles
@import 'base/reset';
@import 'base/base';

// Import components styles
@import 'components/c-header';
@import 'components/c-user-card';
@import 'components/c-vertical-list';
@import 'components/c-profile-header';
@import 'components/c-round-img';
@import 'components/c-user-tab';
@import 'components/c-card';
@import 'components/c-user-bio';
@import 'components/c-posts-preview';
@import 'components/c-post-item';
@import 'components/c-posts-list';
@import 'components/c-comment-item';
@import 'components/c-comments-preview';
@import 'components/c-post';

// Import layout styles
@import 'layout/l-container';

// Import pages styles
@import 'pages/home/p-users';
@import 'pages/user/p-user-profile';
@import 'pages/p-post';
